    <div class="container" id="home-container">
        <div class="p-5 text-white rounded text-center text-white" id="home-page-cover">
        <h1>Alpha Blog</h1>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero ducimus facilis esse quam. Vitae quo esse eum magnam iste ipsum in similique quidem numquam, ipsam, soluta cum assumenda, officiis quod!</p>
        <hr class="my-4">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero ducimus facilis esse quam. Vitae quo esse eum magnam iste ipsum in similique quidem numquam, ipsam, soluta cum assumenda, officiis quod!</p>
        <a class="btn btn-success btn-lg" href="http://">Sign Up!</a>
        </div>
    </div>
